* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #4c4c8f;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

main {
  flex: 1;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

form label {
  margin-top: 1rem;
  display: block;
  font-weight: bold;
}

form input,
form select,
form button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

form button {
  margin-top: 1.5rem;
  background-color: #4c4c8f;
  color: white;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

form button:hover {
  background-color: #3b3b76;
}

#resultadoCelula {
  margin-top: 2rem;
  background: #e2ffe9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

footer {
  background-color: #4c4c8f;
  color: white;
  text-align: center;
  padding: 1rem;
}
